div.simpleshare-popup {
  position:fixed;
  bottom:0px;
  right:0px;
  left:0px;
  z-index:1000;

  padding:20px 60px 20px 20px;

  background:#fff;
  display:none;

  -moz-box-shadow: #999 0px 0px 5px;
  -webkit-box-shadow: #999 0px 0px 5px;
  }

div.simpleshare-popup span.close {
  cursor:pointer;

  padding:0px 5px;
  line-height:20px;
  font-size:11px;
  background:#999;
  color:#fff;

  display:block;
  position:absolute;
  right:0px;
  top:0px;
  }